@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;700&display=swap');

body {
    font-family: 'Rokkitt', serif;
    background-color: rgb(19, 17, 17);
    color: #EADBA8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #EADBA8;
    color: rgb(19, 17, 17);
    border: none;
    padding: .3rem 1rem;
    border-radius: .3rem;
    font-family: inherit;
    cursor: pointer;
}

.result {
    list-style-type: none;
}

.hide {
    display: none;
}

